@using RelaxKundura3.Dtos

@model UrunEkleGuncelleView
@{
    Layout = "~/Views/Shared/LayoutStaticAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        Ürün güncelleme sayfası
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Guncelle", "Urun", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Urun.UrunId)

            <div class="my-3">
                <label class="form-label">Ad</label>
                @Html.TextBoxFor(x => x.Urun.UrunAd, "", new { @class = "form-control", placeholder = "Ürün adını giriniz" })
                @Html.ValidationMessageFor(x => x.Urun.UrunAd, "", new { @class = "text-danger" })
            </div>

            <div class="my-3">
                <label class="form-label">Fiyat</label>
                @Html.TextBoxFor(x => x.Urun.UrunFiyat, "", new { @class = "form-control", placeholder = "Ürün fiyatını giriniz", type = "number" })
                @Html.ValidationMessageFor(x => x.Urun.UrunFiyat, "", new { @class = "text-danger" })
            </div>

            <div class="my-3">
                <label class="form-label">Stok Sayısı</label>
                @Html.TextBoxFor(x => x.Urun.UrunStokDurumu, "", new { @class = "form-control", placeholder = "Ürün Stok Durumunu giriniz", type = "number" })
                @Html.ValidationMessageFor(x => x.Urun.UrunStokDurumu, "", new { @class = "text-danger" })
            </div>

            <div class="my-3">
                @Html.CinsiyetDropListFor("Urun.UrunCinsiyet", new { @class = "form-control", placeholder = "Cinsiyet seçiniz" })
                @Html.ValidationMessageFor(x => x.Urun.UrunCinsiyet, "", new { @class = "text-danger" })
            </div>

            <div class="my-3">
                <label class="form-label">Kategori</label>
                @Html.DropDownListFor(x => x.Urun.UrunKategoriId, new SelectList(Model.Kategoriler, "KategoriId", "KategoriAd"), new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Urun.UrunKategoriId, "", new { @class = "text-danger" })
            </div>


            <button type="submit" class="btn btn-success my-3">
                Güncelle
            </button>
        }
    </div>
</div>
