@using RelaxKundura3.Dtos
@model List<UrunDto>
@{
    Layout = "~/Views/Shared/LayoutStaticAdmin.cshtml";
}

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,RelaxKundura3


<br />
<br />
<br />
<br />
<br />
<div class="card">
    <div class="card-body">
        <table class="table table-striped" id="tbl-urun">
            <thead>
                <tr>
                    <th>Ürün ID</th>
                    <th>Ürün</th>
                    <th>Kategori</th>
                    <th>Fiyat</th>
                    <th>Ürünün Cinsiyeti</th>
                    <th>Ürünün Stok Durumu</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Model[i].UrunId</td>
                        <td>@Model[i].UrunAd</td>
                        <td>@Model[i].UrunKategoriAdi</td>
                        <td>@Model[i].UrunFiyat</td>
                        <td>@Model[i].UrunCinsiyet</td>
                        <td>@Model[i].UrunStokDurumu</td>
                        <td>@Html.ActionLink("Düzenle", "Guncelle", "Urun", new { id = Model[i].UrunId }, new { @class = "btn btn-warning" })</td>
                        <td>@Html.ActionLink("Sil", "Sil", new { id = Model[i].UrunId }, new { @class = "btn btn-danger btn-sil", data_Urun_id = Model[i].UrunId })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<custom-button asp-controller="Urun" asp-action="Ekle" icon-class="fa-solid fa-plus"></custom-button>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@section Scripts {
    <link href="~/datatables/datatables.css" rel="stylesheet" />
    <link href="~/datatables/datatables.min.css" rel="stylesheet" />
    <script src="~/datatables/datatables.js"></script>
    <script src="~/datatables/datatables.min.js"></script>
    <link href="~/datatables/datatables-1.13.8/css/datatables.bootstrap5.css" rel="stylesheet" />
    <link href="~/datatables/datatables-1.13.8/css/datatables.bootstrap5.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbl-urun').DataTable();

            $('.btn-sil').click(function (e) {
                e.preventDefault();

                var urunId = $(this).data('urun-id');
                var tr = $(this).closest('tr');

                swal({
                    title: "Emin misiniz?",
                    text: "Sildikten sonra bu hayali dosyayı kurtaramayacaksınız!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: '/Urun/Sil/' + urunId,
                                method: 'POST',
                                success: function (data) {
                                    swal("Hoşça kal! Ürününüz silindi!", {
                                        icon: "success",
                                    });
                                    tr.remove();
                                },
                                error: function (xhr, status, error) {
                                    console.error(xhr.responseText);  // Hatanın nedenini consol log'una yaz
                                    swal("Bir hata oluştu!", {
                                        icon: "error",
                                    });
                                }
                            });
                        } else {
                            swal("Ürününüz güvende!");
                        }
                    });
            });
        });
    </script>
}

